.h-35 {
  height: 35%
 }
 .h-85 {height: 85%
 }

.h-95 {height: 95%;
}
 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
   }
   @media (max-width: 400px) {
     .cover-heading {
    font-size: 30px;
   }
   @media (max-width: 400px) {
     .lead {
       font-size: 29px;
       color: white;
     }
   }


   @media (max-width: 300px) {
     .cover-heading {
       font-size: 30px;
       color: black
     }
     .lead {
       font-size: 24px;
       color: black;
       font-weight: 420;
     }
   }
 @media (max-width: 260px) {
   .lead {
     font-size: 20px;
     color: black;
     font-weight: 420;
   }
   .cover-heading {
     font-size: 24px;
     color: black
   }
 }
