.lead {font-size: 25px}

@media (max-width: 450px) {
  .cover-heading {
 font-size: 30px;
}
.lead {
font-size: 20px;
}
h2  {
font-size: 25px;
}
}
@media (max-width: 350px) {
  .cover-heading {
 font-size: 25px;
}
.lead {
font-size: 20px;
}
h2  {
font-size: 20px;
}
}
@media (max-width: 250px) {
  .cover-heading {
 font-size: 20px;
}
.lead {
font-size: 15px;
}
h2  {
font-size: 15px;
}
}



.h-35 {
  height: 35%
 }
 .h-15 {
  height: 15%
 }
 @media (max-width: 250px) {
   .h-15 {height: 20%}

 }
 .h-85 {height: 85%
 }
 .h-25 {height: 25%
 }
 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
   }

   @media (min-width: 768px) {
     .bd-placeholder-img-lg {
       font-size: 3.5rem;
     }

   }
   .button {
    border: none;
    background: white;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
  }

  #lead1 {display: none;
  }
  #lead2 {display: none;
  }
  #lead3 {display: none;
  }
  #lead4 {display: none;
  }

  .closed .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }
  .closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
  }
  .opened {
    opacity: 1;
  }
  .opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }
  .opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }
  .circle-plus {
    height: 3em;
    width: 3em;
    font-size: 0.6em;
    opacity: 0.7;
    float: left;
  }
  .circle-plus .circle {
    position: relative;
    width: 2.55em;
    height: 2.5em;
    border-radius: 100%;
    border: solid 0.3em #dfdad7;
  }
  .circle-plus .circle .horizontal {
    position: absolute;
    background-color: #0086ff;
    width: 30px;
    height: 5px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -2.5px;
  }
  .circle-plus .circle .vertical {
    position: absolute;
    background-color: #0086ff;
    width: 5px;
    height: 30px;
    left: 50%;
    margin-left: -2.5px;
    top: 50%;
    margin-top: -15px;
  }
