



.h-35 {
  height: 35%
 }
 .h-85 {height: 85%
 }
 .h-10 {height: 10%
 }


.btn-outline-success {font-size: 2em !important;
  }
@media (min-width: 890px) {
.size02 {
  white-space:nowrap;
}}



@media (min-width: 300px)
  {
  .row {margin-left: 10%;
  }
  }

  @media (min-width: 400px)
  {
  .row {margin-left: 20%;}

  }

  @media (max-width: 650px)
  {
  .row {width: 75% !important;}}


  @media (max-width: 400px)
  {
  .row {width: 85% !important;}}


  @media (max-width: 300px)
  {
  .row {width: 110% !important;}}






    @media (max-width: 1250px) {
      .cover-heading {
     font-size: 28px;
    }
    .lead {
    font-size: 19px;
    }
    .fontbuy
    {
    font-size: 19px;
    }
    .container  {font-size: 14px  !important;
    }
    .res {font-size: 14px!important;
    }
    .size02  {font-size: 14px  !important;
    }
    .btn-outline-success {font-size: 1.5em !important;
      }
    }

    @media (max-width: 600px) {
      .cover-heading {
     font-size: 25px;
    }
    .lead {
    font-size: 20px;
    }
    .fontbuy
    {
    font-size: 17px;
    }
    .container {font-size: 9px  !important; }
    .size02  {font-size: 9px  !important;
    }
    .res {
        font-size: 9px !important;
      }
      .btn-outline-success {font-size: 1.4em !important;
        }
    }
    @media (max-width: 260px) {
      .cover-heading {
     font-size: 20px;
    }
    .lead {
    font-size: 15px;
    }
    .fontbuy
    {
    font-size: 15px;
    }
    .container {font-size: 7px !important;

    }
    .size02  {font-size: 9px  !important;
    }
    .res {
      font-size: 8px !important;
    }
    .btn-outline-success {font-size: 1.3em !important;
      }
    }
